.game-container {
    text-align: center;
    margin-top: 20px;
    position: relative;
    height: 80vh;
  }
  
  .game-image {
    position: absolute;
    cursor: pointer;
    width: 100px;
    height: 100px;
    transition: top 0.3s ease, left 0.3s ease;
  }
  
  
